*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.listItem{
    all:unset;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ced4da;;
}
.btn{
    align-self: flex-end;
}
.mainDiv{
    width: 100vw;
    height: 100vh;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    width: 40%;
}
form{
    display: flex;
    align-items: center;
}
.icon{
    justify-content: center;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 20px;
    align-self: flex-start;
}
